@model crud3.Models.User

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
<div>
  <form asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" value="@Model.Id"/>
    
    <div>
      <label asp-for="Name"></label>
      <input asp-for="Name"/>
      <span asp-validation-for="Name"></span>
    </div>
    
    <div>
      <label asp-for="Email"></label>
      <input asp-for="Email"/>
    </div>
    
    <div>
      <input type="submit" value="Save"/>
    </div>
    
  </form>
</div>
</body>
</html>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 